.Burger {
  width: 370px;
  height: 290px;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 auto 10px;
  flex-grow: 1;
}

.burgerEmptyText {
  margin: 10px 0px;
}

@media (min-width: 550px) and (min-height: 401px) {
  .Burger {
    width: 400px;
    height: 290px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Burger {
    width: 700px;
    height: 600px;
  }
}
